#body {
    background: rgb(255,80,80);
    background: linear-gradient(180deg, rgba(255,80,80,1) 0%, rgba(153,0,0,1) 100%);
}

#navbar {
    background-color: #303030;
    border-radius: 20px;
}

#buttonnavbar {
    background-color: #ff0000;
}

#textnavbar {
    color: #ff0000;
    font-size: 28px;
}

#imagenavbar {
    margin-left: 20px;
}

#image {
    border-radius: 40px;
}

.navbar-nav {
    justify-content: center;
}

p {
    height: 40px;
    color: #ffffff;
}

#bouton {
    align-items: end
}

.animation {
    position: absolute;
    bottom: 320px;
    right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

svg {
	font-family: "Itim", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 10s alternate;
	stroke-width: 2;
	stroke: #9F0000;
	font-size: 100px;
}
@keyframes stroke {
	0%   {fill: rgba(255, 255, 255, 0); stroke: rgba(255, 0, 0, 0.315);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;}
	70%  {fill: rgba(170, 170, 170, 0); stroke: rgba(255, 0, 0, 0.514);}
	80%  {fill: rgba(85, 85, 85, 0); stroke: rgba(255, 0, 0, 0.76); stroke-width: 3;}
	100% {fill: rgb(0, 0, 0); stroke: rgb(255, 0, 0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;}
}
